@font-face { 
    font-family: 'TmonMonsori'; 
    src: url('../fonts/TmonMonsori.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
 }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: 'TmonMonsori', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100%;
}

body {
    min-height: calc(100vh - 1010px)
}

.full-screen {
    position: relative;
    display: block;
    max-width: 100vw !important;
    background: #fff;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.header {
    position: relative;
    display: block;
    text-align: center;
    background: #ff5a77;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    min-height: 55px;
    line-height: 50px;
}

.header.logo {
    color: #ff5a77;
    background: #fff;
    font-size: 1.4rem;
}

.carousel {
    /* min-width: 100vw; */
}

.carousel-indicators {
    bottom: -15px;
    z-index: 1;
}

.carousel-indicators li {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 1;
}

.carousel-indicators li.active {
    background-color: #ff5a77;
}

.w-100 {
    height: calc(100vh - 55vh);
}

#helloPage .group-btn {
    display: block;
    height: 30vh;
}

#helloPage .main {
    position: relative;
}

.group-btn button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    height: 45px;
    border-radius: 50px;
    border: 0;
    font-size: 0.7rem;
    font-weight: 600;
    outline: none;
}

.group-btn button#btnLogin {
    top: 35%;
    background: #ff5a77;
    color: #fff;
}

.group-btn button#btnRegister {
    top: 65%;
    background: #c7c7c7
}

.footer {
    display: block;
    position: relative;
    padding-top: calc(100vh - 99vh);
}

.footer ul.group-language {
    position: absolute;
    text-align: center;
    width: 100%;
}

.footer ul.group-language li.item-language {
    display: inline;
    text-decoration: none;
    line-height: 10vh;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0 7px;
}

.footer ul.group-language li.item-language.active {
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

.footer ul.group-language li.item-language:first-child {
    margin-left: 0;
}

.btn-back {
    position: absolute;
    line-height: 50px;
    width: 26px;
    margin-top: 15px;
    left: 14px;
}

.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.loginPage .zolo-content,
.registerPage .zolo-content {
    position: relative;
    text-align: center;
    margin-top: 45px;
}

.loginPage .zolo-input,
.registerPage .zolo-input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ff5a77;
    width: 90%;
}

.loginPage .btn-next:before,
.registerPage .btn-next:before {
    content: "";
    background: url("../images/next2.svg") no-repeat center bottom/cover;
    position: absolute;
    /* left: 20px; */
    font-size: 1.6rem;
    line-height: 50px;
    /* left: 12px; */
    right: 0;
    margin: 60px 5% 0 0;
    width: 50px;
    height: 50px;
    z-index: 1;
    outline: none;
}

.loginPage .btn-next:after,
.registerPage .btn-next:after {
    content: "";
    position: absolute;
    margin-top: 60px;
    width: 50px;
    height: 50px;
    background: #ff5a77;
    right: 5vw;
    border-radius: 50%;
    outline: none;
}

.zolo-form .zolo-input {
    margin-bottom: 20px;
}

.zolo-form .zolo-input {
    margin-bottom: 20px;
}

@media screen and (max-width: 350px) {
    .footer {
        padding-top: 0;
    }
    .group-btn button#btnRegister {
        top: 75%;
    }
    .footer ul.group-language li.item-language {
        line-height: 0;
    }
    .footer ul.group-language {
        margin-top: 26px;
    }
}

@keyframes back {
    from {
        left: 0px;
    }
    to {
        left: 2000px;
    }
}

@keyframes next {
    from {
        right: 0px;
    }
    to {
        right: 2000px;
    }
}


/* hide - show input password */

.Form {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.Form-title {
    color: #00386a;
    margin: 0 0 15px;
}

.Form-description {
    color: rgba(109, 102, 101, 50);
}

.Form-fields {
    border-radius: 15px;
    border: 1px solid #c5c1c0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 24px 15px;
}

.Control-label {
    color: #423e3d;
    font-weight: bold;
    transition: color 300ms ease;
}

.Control-requirements {
    background: pink;
    border-top: none;
    margin: -14px 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: all 200ms ease;
    padding: 0 9px;
}

.ControlInput:invalid:not(:focus):not(:placeholder-shown) {
    border-color: red;
}

.ControlInput:invalid:not(:focus):not(:placeholder-shown)+.Control-label {
    color: red;
}

.ControlInput:invalid:not(:focus):not(:placeholder-shown)+.Control-label+.Control-requirements {
    max-height: 100px;
    padding: 9px;
    border: 1px solid red;
}

.Control-requirements--email,
.ControlInput--email {
    order: -1;
}

.Control-label--email {
    order: -2;
}

.Control-label--password {
    order: -1;
    margin-bottom: -32px;
}

.Control-label--showPassword,
.Control-label--showPassword2,
.Control-label--showRePassword {
    width: 32px;
    position: absolute;
    top: -2px;
    right: 5vw;
    text-align: right;
    margin-left: -36px;
    cursor: pointer;
}

.Control-label--showRePassword {
    margin-top: 50px;
}

.Control-label--showPassword2 {
    top: 48px;
}

.ControlInput--email:valid~.input-password:valid,
.ControlInput--email:valid~.input-repassword:valid {
    cursor: pointer;
    pointer-events: auto;
    opacity: 1;
}

.Button-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -13px;
    margin-top: -13px;
    opacity: 0;
}

.show-password,
.show-repassword {
    display: none;
}

.show-password:checked~.input-password,
.show-repassword:checked~.input-repassword {
    text-security: disc;
    -webkit-text-security: disc;
    -moz-text-security: disc;
}

.show-password:checked~.Control-label--showPassword .svg-toggle-password .closed-eye,
.show-repassword:checked~.Control-label--showRePassword .svg-toggle-repassword .closed-eye-2 {
    opacity: 1;
    transition: opacity 300ms ease, height 400ms ease;
    width: 4px;
    height: 44px;
}

.svg-toggle-password,
.svg-toggle-repassword {
    fill: #ff5a77;
}

.svg-toggle-password .closed-eye,
.svg-toggle-repassword .closed-eye-2 {
    opacity: 0;
    height: 0;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 0;
        stroke-dasharray: 150.6 100.4;
    }
    50% {
        stroke-dasharray: 1 250;
    }
    100% {
        stroke-dashoffset: 502;
        stroke-dasharray: 150.6 100.4;
    }
}

@keyframes spinner-in {
    0% {
        opacity: 0;
    }
    20%,
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* hide - show input password */

.resend-text,
.forgot-pw-text {
    display: block;
    position: absolute;
    width: 90%;
    text-align: left;
    left: 5vw;
    margin-top: 30px;
    font-size: 0.8rem;
}

.resend-time {
    color: #ff5a77
}

.forgot-pw-text {
    margin-top: 4px;
    color: #ff5a77;
}


/* popup */

.zolo-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 55%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.zolo-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
    z-index: 2;
}

.zolo-popup-container {
    position: relative;
    width: 85%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    top: 20%;
}

.zolo-popup-container .zolo-popup-header {
    position: absolute;
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 22px;
    margin: 15px auto;
}

.zolo-popup-container .zolo-popup-header:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 10px;
    border-bottom: 1px solid #c3c3c3;
}

.zolo-popup-container p {
    padding: 4em 1em 1.5em;
    text-align: center;
    margin: 0 auto;
}

.zolo-popup-container .zolo-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.zolo-popup-container .zolo-buttons li {
    float: left;
    width: 50%;
    list-style: none;
}

.zolo-popup-container .zolo-buttons button {
    width: 90%;
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    border: 0;
    outline: none;
    font-size: 16px;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.zolo-popup-container .zolo-buttons li:last-child button {
    background: #ff5a77;
    margin-left: 6px !important;
}

.no-touch .zolo-popup-container .zolo-buttons li:last-child button:hover {
    background-color: #ff5a77;
}

.zolo-popup-container .zolo-buttons li:first-child button {
    background: #b6bece;
    margin-right: 6px !important;
}

.no-touch .zolo-popup-container .zolo-buttons li:first-child button:hover {
    background-color: #c5ccd8;
}

.is-visible .zolo-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.zolo-popup-container .zolo-buttons li.full-width {
    width: 100% !important;
}

.zolo-popup-container .zolo-buttons li.full-width:last-child button {
    margin: 0 auto !important;
    margin-bottom: 10px !important;
    width: 94% !important;
}

@media only screen and (min-width: 1170px) {
    .zolo-popup-container {
        margin: 8em auto;
    }
}


/* popup */


/* preloader */

.zolo-preloader {
    position: relative;
    background: #ff5a77;
}

.box-preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-preloader span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce 0.3s ease infinite alternate;
    font-family: 'TmonMonsori';
    font-size: 60px;
    color: #fff;
    text-shadow: 0 1px #ccc, 0 2px #ccc, 0 3px #ccc, 0 4px #ccc, 0 5px #ccc, 0 6px 0 transparent, 0 7px transparent, 0 8px transparent, 0 9px transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px #ccc, 0 2px #ccc, 0 3px #ccc, 0 4px #ccc, 0 5px #ccc, 0 6px #ccc, 0 7px #ccc, 0 8px #ccc, 0 9px #ccc, 0 50px 25px rgba(0, 0, 0, 0.2);
    }
}

.box-preloader span:nth-child(2) {
    animation-delay: 0.1s;
}

.box-preloader span:nth-child(3) {
    animation-delay: 0.2s;
}

.box-preloader span:nth-child(4) {
    animation-delay: 0.3s;
}


/* preloader */