* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100%;
}

body {
    min-height: calc(100vh - 1010px)
}

.full-screen {
    position: relative;
    display: block;
    max-width: 100vw !important;
    background: #fff;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.header {
    position: relative;
    display: block;
    text-align: center;
    background: #ff5a77;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    min-height: 55px;
    line-height: 50px;
}

.header.logo{
    color: #ff5a77;
    background: #fff;
    font-size: 1.4rem;
}

.carousel {
    /* min-width: 100vw; */
}

.carousel-indicators {
    bottom: -15px;
}

.carousel-indicators li {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 1;
}

.carousel-indicators li.active {
    background-color: #ff5a77;
}

.w-100 {
    height: calc(100vh - 55vh);
}

#helloPage .group-btn {
    display: block;
    height: 30vh;
}

#helloPage .main {
    position: relative;
}

.group-btn button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    height: 45px;
    border-radius: 50px;
    border: 0;
    font-size: 0.7rem;
    font-weight: 600;
    outline: none;
}

.group-btn button#btnLogin {
    top: 35%;
    background: #ff5a77;
    color: #fff;
}

.group-btn button#btnRegister {
    top: 65%;
    background: #c7c7c7
}

.footer {
    display: block;
    position: relative;
    padding-top: calc(100vh - 99vh);
}

.footer ul.group-language {
    position: absolute;
    text-align: center;
    width: 100%;
}

.footer ul.group-language li.item-language {
    display: inline;
    text-decoration: none;
    line-height: 10vh;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0 7px;
}

.footer ul.group-language li.item-language.active {
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

.footer ul.group-language li.item-language:first-child {
    margin-left: 0;
}

.btn-back {
    position: absolute;
    line-height: 50px;
    width: 30px;
    margin-top: 12px;
    left: 14px;
}

.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.registerPage .zolo-content{
    position: relative;
    text-align: center;
    margin-top: 45px;
}

.registerPage .zolo-input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ff5a77;
    width: 90%;
}

.registerPage .btn-next:before{
    content: "";
    background: url("../images/next.svg") no-repeat center bottom/cover;
    position: absolute;
    /* left: 20px; */
    font-size: 1.6rem;
    line-height: 50px;
    /* left: 12px; */
    right: 0;
    margin: 60px 5% 0 0;
    width: 50px;
    height: 50px;
    z-index: 1;
    
}

.registerPage .btn-next:after{
    content: "";
    position: absolute;
    margin-top: 60px;
    width: 50px;
    height: 50px;
    background: #ff5a77;
    right: 5vw;
    border-radius: 50%;
    
}


@media screen and (max-width: 350px) {
    .footer {
        padding-top: 0;
    }
    .group-btn button#btnRegister {
        top: 75%;
    }
    .footer ul.group-language li.item-language {
        line-height: 0;
    }
    .footer ul.group-language {
        margin-top: 26px;
    }
}

@keyframes back {
    from {left: 0px;}
    to {left: 2000px;}
  }

@keyframes next {
from {right: 0px;}
to {right: 2000px;}
}